<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Favicon -->
    <link rel="icon" href="favicon/logo.ico" type="image/gif" />

    <!-- Title -->
    <title>FUTO Student | Staff Bus Service</title>

    <!-- jquery -->
    <script src="js/jquery-3.4.1.min.js"></script>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet" />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style1.css" />

    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body style="height: 130vh">
    <nav class="navbar_1">
      <div class="container__1">
        <a href="/" class="img_anchor">
          <img src="/images/futo logo.jpg" alt="futo logo" class="futo_logo" />
        </a>
        <h1 class="h4">Futo Shuttle Transport</h1>
      </div>
    </nav>

    <div class="container_1">
      <div class="form_group1">
        <div>
          <h4 class="header_1">Become a Shuttler</h4>
          <p>Already have an account? <a href="/login">Login</a></p>
        </div>

        <div class="error11"></div>
        <div id="errorContainer" style="color: red; display: none;"></div>

        <% if (errors && errors.length > 0) { %> <% errors.forEach(error => { %>
        <div
          id="error-alert-<%= error.param %>"
          class="alert alert-warning alert-dismissible fade show text-center"
          role="alert">
          <%= error.msg %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }) %> <% } %>

        <form action="/register" class="form_action" id="form">
          <div class="div__0">
            <div class="div__1">
              <label for="firstName" class="labelfirstname">First name</label>
              <input
                type="text"
                name="firstName"
                class="input_1 error"
                value="<%= data && data.firstName ? data.firstName : '' %>"
                id="firstName"
                placeholder="First Name" />
            </div>

            <div class="div__2">
              <label for="lastName" class="labelsecondname">Last name</label>
              <input
                type="text"
                name="lastName"
                class="input_2 error"
                value="<%= data && data.lastName ? data.lastName : '' %>"
                id="lastName"
                placeholder="Last Name" />
            </div>
          </div>

          <div class="div__3">
            <label for="email" class="email">Email</label>
            <input
              type="email"
              name="email"
              class="input_3 error"
              value="<%= data && data.email ? data.email : '' %>"
              placeholder="Sample@gmail.com"
              id="email" />
          </div>

          <div class="div__4">
            <label for="phoneNumber" class="number">Phone number</label>
            <input
              type="tel"
              name="phoneNumber"
              id="phoneNumber"
              class="input_4 error"
              value="<%= data && data.phoneNumber ? data.phoneNumber : '' %>"
              placeholder="07034344428" />
          </div>

          <div class="div__5">
            <label for="location" class="bustop">Your Bus Stop</label>
            <select name="location" id="location" class="input_5 error">
              <option hidden <% if (!data.location) { %> selected <% } %> disabled>Select Location</option>
              <option <% if (data.location === 'Ikenegbu') { %> selected <% } %> value="Ikenegbu">Ikenegbu</option>
              <option <% if (data.location === 'Orji') { %> selected <% } %> value="Orji">Orji</option>
              <option <% if (data.location === 'Wetheral') { %> selected <% } %> value="Wetheral">Wetheral</option>
              <option <% if (data.location === 'World Bank') { %> selected <% } %> value="World Bank">World Bank</option>
              <option <% if (data.location === 'Amakohia') { %> selected <% } %> value="Amakohia">Amakohia</option>
              <option <% if (data.location === 'Control') { %> selected <% } %> value="Control">Control</option>
            </select>
          </div>

          <div class="div__6">
            <label for="password" class="number">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="input_6 error"
              value="<%= data && data.password ? data.password : '' %>"
              placeholder="password" />
          </div>

          <div class="div__7">
            <input type="checkbox" class="toggle__password" id="toggle" />Show
            Password
          </div>
          <button type="submit" id="sbtn" class="rgstbtn">
          register
          </button>
        </form>
      </div>
    </div>

    <p class="register_p">
      <span class="word_wrap">
        By clicking on "Register", I have read and agreed to Shuttlers'
        <a
          href="https://futo.edu.ng/PrivacyPolicy.aspx"
          class="anchor__terms"></a> </span
      ><br />
      <span
        >Terms of Service and
        <a href="/privacypolicy" class="privacy">Privacy Policy</a></span
      >
    </p>

    <footer class="footer">
      <small>
        <span
          >This site is protected by reCAPTCHA and the
          <a
            href="https://policies.google.com/privacy?hl=en-US#infochoices"
            class="privacy"
            >Privacy Policy</a
          >
          Google and</span
        >
        <br />
        <span
          ><a
            href="https://policies.google.com/terms?hl=en-US"
            class="anchor__terms"
            >Terms of Service</a
          ></span
        >
        apply.</small
      >
    </footer>
    
    <!-- custom JavaScript -->
    <script src="/js/register.js"></script>

    <!-- bootstrap js -->
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
